@import url("./buttons/button.css");
@import url("./buttons/link.css");
@import url("./color/text-color.css");
@import url("./color/background-color.css");
@import url("./inputs/input.css");
@import url("./inputs/textarea.css");
@import url("./texts/font-size.css");
@import url("./texts/text-gradient.css");

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-VariableFont.ttf');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLOR VARIABLES */
    --black: #09090B;
    --white: #FFFFFF;
    --blue: #1D4ED8;
    --blue-ligth: #3B82F6;
    --blue-dark: #143BB9;
    --gray-dark: #0D0D0F;
    --gray: #C4C4CC;
}

body {
    min-width: 400px !important;
    font-family: 'DM Sans', sans-serif;
    color: var(--white);
    /* background-color: #000000; */
    background-color: var(--black);
}

section {
    background-color: var(--black);
}