.card {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 15px;
    text-align: justify;
}
.card-muted {
    filter: brightness(0.65);
    transform: scale(0.9);
    color: var(--white) !important;
}

.card.card-dark {
    background-color: var(--gray-dark);
}

.card.card-auto {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.card.card-sm {
    
}

.card.card-md {
    padding: 2rem;
}

.card.card-lg {
    padding: 2rem;
    font-size: 25px;
 
}

.card.card-xl {
    padding: 3rem;
    font-size: 25px;
}
