.container-section {
    max-width: 1600px;
    min-width: 400px;
    padding: 50px 80px;
    margin: auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.section-body {
    width: 100%;
    height: fit-content;
}

@media (400px <= width <= 640px) {
    .container-section {
        padding: 20px;
    }
}

@media (640px <= width <= 768px) {
    .container-section {
        padding: 30px 40px;
    }
}

@media (768px <= width <= 1024px) {
    .container-section {
        padding: 40px 50px;
    }
}