.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: 700;
}

@media (width < 640px) {
    .header-xl {
        font-size: 100px;
        line-height: 75px;
    }
    
    .header-lg {
        font-size: 35px;
        line-height: 35px;
    }
    
    .header-md {
        font-size: 30px;
        line-height: 30px;
    }
    
    .header-sm {
        font-size: 25px;
        line-height: 20px;
    }
    
    .header-xs {
        font-size: 22px;
        line-height: 22px;
    }
    
    .header-2xs {
        font-size: 20px;
        line-height: 20px;
    }
    
    .text-xl {
        font-size: 22px;
        line-height: 22px;
    }
    
    .text-lg {
        font-size: 20px;
        line-height: 20px;
    }
    
    .text-md {
        font-size: 14px;
    }
    
    .text-sm {
        font-size: 12px;
    }
    
    .text-xs {
        font-size: 10px;
    }
    
    .text-2xs {
        font-size: 8px;
    }
    
    .text-3xs {
        font-size: 7px;
    }
    
    .text-4xs {
        font-size: 6px;
    }
}

@media (640px <= width < 768px) {
    .header-xl {
        font-size: 150px;
        line-height: 110px;
    }
    
    .header-lg {
        font-size: 60px;
        line-height: 45px;
    }
    
    .header-md {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-sm {
        font-size: 35px;
        line-height: 45px;
    }
    
    .header-xs {
        font-size: 25px;
        line-height: 25px;
    }
    
    .header-2xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .text-xl {
        font-size: 25px;
        line-height: 25px;
    }
    
    .text-lg {
        font-size: 22px;
    }
    
    .text-md {
        font-size: 20px;
    }
    
    .text-sm {
        font-size: 18px;
    }
    
    .text-xs {
        font-size: 16px;
    }
    
    .text-2xs {
        font-size: 10px;
    }
    
    .text-3xs {
        font-size: 8px;
    }
    
    .text-4xs {
        font-size: 7px;
    }
}

@media (768px <= width < 1024px) {
    .header-xl {
        font-size: 180px;
        line-height: 135px;
    }
    
    .header-lg {
        font-size: 70px;
        line-height: 60px;
    }
    
    .header-md {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-sm {
        font-size: 40px;
        line-height: 40px;
    }
    
    .header-xs {
        font-size: 28px;
        line-height: 28px;
    }
    
    .header-2xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .text-xl {
        font-size: 28px;
        line-height: 28px;
    }
    
    .text-lg {
        font-size: 25px;
    }
    
    .text-md {
        font-size: 22px;
    }
    
    .text-sm {
        font-size: 20px;
    }
    
    .text-xs {
        font-size: 18px;
    }
    
    .text-2xs {
        font-size: 14px;
    }
    
    .text-3xs {
        font-size: 12px;
    }
    
    .text-4xs {
        font-size: 10px;
    }
}

@media (1024px <= width < 1280px) {
    .header-xl {
        font-size: 240px;
        line-height: 180px;
    }
    
    .header-lg {
        font-size: 90px;
        line-height: 75px;
    }
    
    .header-md {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-sm {
        font-size: 60px;
        line-height: 55px;
    }
    
    .header-xs {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-2xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .text-xl {
        font-size: 30px;
        line-height: 30px;
    }
    
    .text-lg {
        font-size: 28px;
    }
    
    .text-md {
        font-size: 25px;
    }
    
    .text-sm {
        font-size: 20px;
    }
    
    .text-xs {
        font-size: 18px;
    }
    
    .text-2xs {
        font-size: 18px;
    }
    
    .text-3xs {
        font-size: 16px;
    }
    
    .text-4xs {
        font-size: 14px;
    }
}

@media (1280px <= width < 1450px) {    
    .header-xl {
        font-size: 310px;
        line-height: 230px;
    }
    
    .header-lg {
        font-size: 115px;
        line-height: 110px;
    }
    
    .header-md {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-sm {
        font-size: 65px;
        line-height: 70px;
    }
    
    .header-xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .header-2xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .text-xl {
        font-size: 35px;
        line-height: 30px;
    }
    
    .text-lg {
        font-size: 32px;
    }
    
    .text-md {
        font-size: 25px;
    }
    
    .text-sm {
        font-size: 22px;
    }
    
    .text-xs {
        font-size: 20px;
    }
    
    .text-2xs {
        font-size: 18px;
    }
    
    .text-3xs {
        font-size: 16px;
    }
    
    .text-4xs {
        font-size: 14px;
    }
}

@media (1450px <= width) {
    .header-xl {
        font-size: 350px;
        line-height: 260px;
    }
    
    .header-lg {
        font-size: 140px;
        line-height: 135px;
    }
    
    .header-md {
        font-size: 2px;
        line-height: 2px;
    }
    
    .header-sm {
        font-size: 75px;
        line-height: 70px;
    }
    
    .header-xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .header-2xs {
        font-size: 50px;
        line-height: 50px;
    }
    
    .text-xl {
        font-size: 35px;
        line-height: 30px;
    }
    
    .text-lg {
        font-size: 30px;
        
    }
    
    .text-md {
        font-size: 25px;
    }
    
    .text-sm {
        font-size: 25px;
    }
    
    .text-xs {
        font-size: 22px;
    }
    
    .text-2xs {
        font-size: 18px;
    }
    
    .text-3xs {
        font-size: 16px;
    }
    
    .text-4xs {
        font-size: 14px;
    }
}
