.text-blue-gradient {
    background: rgb(59,130,246);
    background: linear-gradient(180deg, rgba(59,130,246,1) 0%, rgba(29,78,216,1) 35%, rgba(20,59,185,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
};