.project-item {
    min-height: var(--container-project-item-height);
    max-height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--project-item-radius);
    box-shadow: 3px 3px 10px black;
    animation: pop-up 400ms ease forwards;
}

.project-item.pop-up {
    animation: pop-up 400ms ease forwards;
}

.project-item:hover {
    transform: scale(1.05) !important;
    cursor: pointer;
    transition: all 100ms ease;
}

.project-logo {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}