.card-work-experience {
    height: 100%;
    width: var(--card-carrusel-width);
    min-width: var(--card-carrusel-width);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}

.card-work-experience:not(.card-muted) {
    animation: pop-up 400ms ease forwards;
}

.card-work-experience.card-muted {
    transform: scale(0);
    animation: pop-up-muted 400ms 200ms ease forwards;
}


.card-work-experience:not(.card-muted).pop-up {
    animation: pop-up-muted 400ms ease forwards;
}

.card-work-experience.card-muted.pop-up {
    transform: scale(0);
    animation: pop-up 400ms 200ms ease forwards;
}

.job-name {
    grid-row: 1;
    grid-column: 1;
}

.job-date-position {
    text-align: end;
    grid-row: 1;
    grid-column: 2;
}

.job-tecnology {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 12px 0 15px;
}


.job-description {
    padding-left: var(--job-description-padding-left);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (width < 640px) {
    #section-work-experience {
        --job-description-padding-left: 10px;

        .job-date-position {
            display: none;
        }
    }
}

@media (640px <= width < 768px) {
    #section-work-experience {
        --job-description-padding-left: 10px;

        .job-date-position {
            display: none;
        }
    }
}

@media (768px <= width < 1450px) {
    #section-work-experience {
        --job-description-padding-left: 20px;
    }
}


@media (1450px <= width) {}