.btn {
    width: fit-content;
    height: fit-content;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
    border-radius: 100px;
    color: white;
    background-color: rgba(255, 255, 255, 0.16);
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.15);
    box-shadow: 2px 2px 5px black;
    transition: all .2s ease-in-out 0s;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: var(--gap-group);
}

.btn.btn-sm {
    font-size: var(--font-size-sm);
    padding: var(--padding-size-sm) calc(var(--padding-size-sm) * 2);
}

.btn.btn-md {
    font-size: var(--font-size-md);
    padding: var(--padding-size-md) calc(var(--padding-size-md) * 3);;
}

.btn.btn-lg {
    font-size: var(--font-size-lg);
    padding: var(--padding-size-lg) calc(var(--padding-size-lg) * 4);
}


@media (width <= 640px) {
    .btn {
        --font-size-sm: 10px;
        --font-size-md: 12px;
        --font-size-lg: 12px;

        --padding-size-sm: 4px;
        --padding-size-md: 5px;
        --padding-size-lg: 6px;
    }

    .btn-group {
        --gap-group: 7px;
    }
}

@media (640px <= width <= 768px) {
    .btn {
        --font-size-sm: 12px;
        --font-size-md: 14px;
        --font-size-lg: 16px;

        --padding-size-sm: 5px;
        --padding-size-md: 6px;
        --padding-size-lg: 7px;
    }

    .btn-group {
        --gap-group: 8px;
    }
}

@media (768px <= width <= 1024px) {
    .btn {
        --font-size-sm: 13px;
        --font-size-md: 15px;
        --font-size-lg: 17px;

        --padding-size-sm: 5px;
        --padding-size-md: 6px;
        --padding-size-lg: 7px;
    }

    .btn-group {
        --gap-group: 10px;
    }
}

@media (1024px <= width <= 1280px) {
    .btn {
        --font-size-sm: 14px;
        --font-size-md: 16px;
        --font-size-lg: 18px;

        --padding-size-sm: 5px;
        --padding-size-md: 6px;
        --padding-size-lg: 7px;
    }

    .btn-group {
        --gap-group: 10px;
    }
}

@media (1280px <= width <= 1450px) {
    .btn {
        --font-size-sm: 15px;
        --font-size-md: 17px;
        --font-size-lg: 19px;

        --padding-size-sm: 6px;
        --padding-size-md: 7px;
        --padding-size-lg: 8px;
    }

    .btn-group {
        --gap-group: 15px;
    }
}

@media (1450px <= width) {
    .btn {
        --font-size-sm: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;

        --padding-size-sm: 7px;
        --padding-size-md: 8px;
        --padding-size-lg: 9px;
    }

    .btn-group {
        --gap-group: 15px;
    }
}

